body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: rgb(85, 173, 155); 
    font-family: "Nunito", sans-serif;
}

header {
    background-color: rgb(149, 210, 179);
    color: rgb(241, 248, 232);
    text-align: center;
    padding: 30px;
}

.conteudo {
    margin: 10px; 
    width: 50%;
    background-color: rgb(216, 239, 211);
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px; 
    position: relative;
    left: 25%; 
}

.a{
    opacity: 0%;
}
.btn{
    cursor: pointer;
    background-color:  rgb(85, 173, 155);
    border-radius: 5px;
    border: none;
    color: aliceblue;
    height: 30px;
}
input{
    border-radius: 5px;
    border: none;
    height: 30px;
}
.titulo1{
    color: rgb(85, 173, 155);
}
ul {
    display: inline-block;
    margin-right: 30%;
}